<application>
<name>webInterface2 App</name>
        <module>
                <name>cartesianServer</name>
                <node>console</node>
        </module>
        <module>
                <name>webInterface2</name>
                <node>console</node>
        </module>

</application>

