<application>
<name>webInterface App</name>
        <module>
                <name>cartesianServer</name>
                <node>localhost</node>
        </module>
        <module>
                <name>webInterface</name>
                <node>localhost</node>
        </module>

</application>

