<application>
<name>wiimoteServer App</name>
        <module>
                <name>cartesianServer</name>
                <node>localhost</node>
        </module>
        <module>
                <name>wiimoteServer</name>
                <node>localhost</node>
        </module>

        <connection>
                <from>/wiimoteServer/command:o</from>
                <to>/ravebot/cartesianServer/command:i</to>
                <protocol>udp</protocol>
        </connection>

</application>
