<application>
<name>wiimoteServer App</name>
        <module>
                <name>cartesianServer</name>
                <node>console</node>
        </module>
        <module>
                <name>wiimoteServer</name>
                <node>console</node>
        </module>

        <connection>
                <from>/wiimoteServer/command:o</from>
                <to>/cartesianServer/command:i</to>
                <protocol>udp</protocol>
        </connection>

</application>
