<application>
<name>testGrabCanSim App</name>
        <module>
                <name>cartesianServer</name>
                <!--parameters>--env </parameters-->
                <node>localhost</node>
        </module>


</application>

