# Template file to copy as $YARP_ROOT/conf/ExternalModules.cmake 

# MODULES' symbolic name:
SET(EXTERNAL_MODULES asibot_exportable)

# For each MODULE above add a variable named MODULE_DIR which specifies its
# location on your disk (set to the origin directory of this cmake.template).

SET(asibot_exportable_DIR "$ENV{ASIBOT_ROOT}/example/exportable")
# SET(asibot_exportable_DIR "c:/asibot/example/exportable")


